a {
    text-decoration: none;
    &:hover, &:active, &:visited, a:focus, a:link {
        text-decoration: none;
    }
    &:-webkit-any-link{
        text-decoration:none;
    }
}


.ml-auto {
    margin: auto 0 0 auto;
}

.img-responsive {
    margin: auto;
}
