$delay: 0.002;
$size: 5;


.wave {
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -10px;
    left: -4px;
}

.line {
    background: #fff;
    width: $size + px;
    height: 1px;
    float: left;
    animation: wave 1s infinite ease-in-out alternate;
    z-index: 1;
    position:absolute;
}

@for $x from 0 through 800 {
    .line:nth-child(#{$x}) {
        animation-delay: $delay * $x + s;
        left: $size * $x + px;
    }
}


@keyframes wave {
  0%{
    transform: translateY(-10px);
    height: 11px;}
  100%{
    transform: translateY(-100px);
    height: 100px;}
}
